@using System.Data
@using System.Collections
@using Connection
@using BanglaChemical.Models
@using BanglaChemical.Models.UserManagement
@using BanglaChemical.Models.SetUp
@{
    ViewBag.Title = "Inquiry to Supplier";

    string userCode = string.Empty;
    DataTable dtLoginData = new DataTable();

    if (Session["dtLoginData"] != null)
    {
        dtLoginData = (DataTable)Session["dtLoginData"];
    }

    if (dtLoginData.Rows.Count > 0)
    {
        ViewBag.userCode = Convert.ToString(dtLoginData.Rows[0]["USER_CODE"]);
        ViewBag.userrollid = Convert.ToString(dtLoginData.Rows[0]["ROLE_ID"]);
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <input type="hidden" id="user_code" value="@(ViewBag.userCode)">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Inquiry to Supplier
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Inquiry to Supplier
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Search/ Update Inquiry to Supplier</legend>
                        <div class="form-horizontal" id="form_input" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="search_requisition_number">Inquiry Number:</label>
                                <div class="col-sm-6">
                                    <select name="search_requisition_number" id="search_requisition_number" class="col-xs-12 col-sm-12 search_requisition_number select_search form-control">
                                        <option value="">Select Inquiry Number</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="search_requisition_date">Submission Date:</label>
                                <div class="col-sm-3">
                                    <select name="search_requisition_date" id="search_requisition_date" class="col-xs-12 col-sm-12 search_requisition_date select_search" disabled>
                                        <option value="">Select Submission Date</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" id="btnFind" class="btn btn-sm btn-rounded btn-info btnFindDetail"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend> Inquiry to Supplier Entry</legend>
                        <div class="form-horizontal" id="form_input" role="form">
                            <input type="hidden" name="sales_order_id" id="sales_order_id" class="sales_order_id" value="0" />
                            <input type="hidden" name="sales_order_code" id="sales_order_code" class="sales_order_code" value="0" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon order_date" for="requisition_date"> Submission Date:</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control date_picker requisition_date" type="text" id="requisition_date" name="requisition_date" data-date-format="dd/mm/yyyy" placeholder="Example: DD/MM/YYYY" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="supplier">Supplier:</label>
                                <div class="col-sm-3">
                                    <select name="supplier" id="supplier" class="col-xs-12 col-sm-12 supplier select_search form-control">
                                        <option value="">Select Supplier</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="requisition_number">Inquiry Number:</label>
                                <div class="col-sm-3">
                                    <select name="requisition_number" id="requisition_number" class="col-xs-12 col-sm-12 requisition_number select_search form-control">
                                        <option value="">Select Inquiry Number</option>

                                    </select>
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="system_generated_requisition_number">System Generated Inquiry Number:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="system_generated_requisition_number" id="system_generated_requisition_number" class="col-xs-3  form-control system_generated_requisition_number" placeholder="Example: System Generated Inquiry Number" disabled />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="customer_organization">Customer Organization:</label>
                                <div class="col-sm-3">
                                    <select name="customer_organization" id="customer_organization" class="col-xs-12 col-sm-12 customer_organization select_search form-control">
                                        <option value="">Select Customer Organization</option>
                                        
                                    </select>
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Shipment:</label>
                                <div class="col-sm-3">
                                    <select name="shipment" id="shipment" class="col-xs-12 col-sm-12 shipment select_search form-control">
                                        <option value="">Select Shipment</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="payment_process">Payment Process:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="payment_process" id="payment_process" class="col-xs-3 payment_process form-control" placeholder="Example: Payment Process" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="inquiry_validity">Inquiry Validity:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="inquiry_validity" id="inquiry_validity" class="col-xs-3 inquiry_validity form-control" placeholder="Example: Inquiry Validity" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="attachment"> Attachment: </label>
                                <div class="col-sm-3">
                                    <label for="attachment">
                                        <img id="attachment" style="width: 210px;height:126px;border: 1px solid #ddd;padding:3px;cursor:pointer;">
                                        <i class="fa fa-plus" id="upload_icon_1" style="position: relative;left: -116px;"></i>
                                        <input type="file" id="attachment" style="display:none" accept="image/*" onchange="checkPhoto1(this)">
                                    </label>
                                    <input type="hidden" id="itemImageValue1" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="btn btn-sm btn-success" id="btnSave"><i class="fa fa-check-square-o"></i> Save</button>
                                    <button type="button" id="btnReset" class="btn btn-rounded btn-sm btn-purple"><span class="fa fa-refresh"></span> Clear</button>
                                    <button type="button" id="btnDelete" class="btn btn-rounded btn-sm btn-danger" style="display:none" onclick="removeData();"><i class="fa fa-trash"></i> Delete</button>
                                    @using (Html.BeginForm("FiberSaleReportDownload", "FiberSaleReport", FormMethod.Post, new { @style = "display:inline", target = "_blank" }))
                                    {
                                        <input type="hidden" name="comp_name" id="comp_name" class="comp_name" value="" />
                                        <input type="hidden" name="sale_number" id="sale_number" class="sale_number" value="" />
                                        <button type="submit" id="btnReport" class="btn btn-rounded btn-sm btn-primary" style="display:none" target="_blank"><i class="fa fa-file-pdf-o"></i> Report</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <h4 style="border:1px solid #ddd; padding:5px;margin-bottom:0px;background:yellowgreen" class="fiber_sale_detail">Inquiry To Supplier Detail Entry</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="table_data" class="table table-bordered table-striped table-hover table-condensed table_data">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th><input type="checkbox" class="check_all_Table_row" value="0" /></th>
                                    <th>Item Name <span style="color:red">*</span></th>
                                    <th>Item Spec</th>
                                    <th>Measurement Unit <span style="color:red">*</span></th>
                                    <th>Item Quantity <span style="color:red">*</span></th>
                                    <th>Manufacturer</th>
                                    <th>Country of Origin</th>
                                    <th>Package</th>
                                    <th>Expected Rate</th>
                                    <th class="hidden"></th>
                                </tr>
                            </thead>
                            <tbody id="table_body" class="table_body">
                                <tr class="detail_target_field">
                                    <td class="hidden"> <input type='hidden' name='order_dtl_id' id='order_dtl_id' class='form-control order_dtl_id' value='0' disabled> </td>
                                    <td><input type="checkbox" class="thisCheckTableRow this_check" name="thisCheckTableRow" onclick="checkSingleRow(1);" value="0" /></td>
                                    <td>
                                        <select name='item_name' id='item_name' class='select_search form-control item_name'>
                                            <option value=''>Select Item</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name='item_spec' id='item_spec' class='form-control item_spec' value='' /></td>
                                    <td>
                                        <select name='measurement_unit' id='measurement_unit' class='select_search form-control measurement_unit' disabled>
                                            <option value=''>Select Measurement Unit</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name='item_quantity' id='item_quantity' class='form-control item_quantity placeholder_left input_right' onkeypress='return isNumber(event)' value='0'></td>
                                    <td><input type="text" name='manufacturer' id='manufacturer' class='form-control manufacturer' value='' /></td>
                                    <td><input type="text" name='origin' id='origin' class='form-control origin' value='' /></td>
                                    <td><input type="text" name='package' id='package' class='form-control package' value='' /></td>
                                    <td><input type="text" name='expected_rate' id='expected_rate' class='form-control expected_rate' onkeypress='return isNumber(event)' value='0'></td>
                                    <td class="hidden"><input type="hidden" name="detail_row_status" id="detail_row_status" class="form-control detail_row_status" value="1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-xs-12 col-md-3 col-md-3 col-lg-3'>
                    <button type="button" id="deleteTableRow" class="btn btn-rounded btn-sm btn-danger deleteTableRow"><i class="fa fa-minus"></i> Delete</button>
                    <button type="button" id="addTableRow" class="btn btn-rounded btn-sm btn-info addTableRow"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #table_data .select2-container {
        width: 300px !important;
    }

    #table_data input[type="text"] {
        width: 200px !important;
    }
</style>




