@using System.Data
@using System.Collections
@using Connection
@using BanglaChemical.Models
@using BanglaChemical.Models.UserManagement
@using BanglaChemical.Models.SetUp
@{
    ViewBag.Title = "Indent";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Indent
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Indent
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Search/ Update Indent</legend>
                        <div class="form-horizontal" id="form_input" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="search_indent_number">Indent Number:</label>
                                <div class="col-sm-6">
                                    <select name="search_indent_number" id="search_indent_number" class="col-xs-12 col-sm-12 search_indent_number select_search form-control">
                                        <option value="">Select Indent Number</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="search_indent_date">Indent Date:</label>
                                <div class="col-sm-3">
                                    <select name="search_indent_date" id="search_indent_date" class="col-xs-12 col-sm-12 search_indent_date select_search" disabled>
                                        <option value="">Select Indent Date</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" id="btnFind" class="btn btn-sm btn-rounded btn-info btnFindDetail"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend> Indent Entry</legend>
                        <div class="form-horizontal" id="form_input" role="form">
                            <input type="hidden" name="indent_id" id="indent_id" class="indent_id" value="0" />
                            <input type="hidden" name="indent_code" id="indent_code" class="indent_code" value="0" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon order_date" for="indent_date"> Indent Date:</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control date_picker indent_date" type="text" id="indent_date" name="indent_date" data-date-format="dd/mm/yyyy" placeholder="Example: DD/MM/YYYY" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="supplier">Supplier:</label>
                                <div class="col-sm-3">
                                    <select name="supplier" id="supplier" class="col-xs-12 col-sm-12 supplier select_search form-control">
                                        <option value="">Select Supplier</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="customer_organization">Customer Organization:</label>
                                <div class="col-sm-9">
                                    <select name="customer_organization" id="customer_organization" class="col-xs-12 col-sm-12 customer_organization select_search form-control">
                                        <option value="">Select Customer Organization</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="indent_number">Indent Number:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="indent_number" id="indent_number" class="col-xs-3 form-control indent_number" placeholder="Example: Indent Number" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="system_generated_indent_number">System Generated Indent Number:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="system_generated_indent_number" id="system_generated_indent_number" class="col-xs-3  form-control system_generated_indent_number" placeholder="Example: System Generated Indent Number" disabled />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="fob_value">FOB Value:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="fob_value" id="fob_value" class="col-xs-3 form-control fob_value" value="" placeholder="Example: FOB Value" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="Freight_value">Freight Value:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="Freight_value" id="Freight_value" class="col-xs-3 form-control Freight_value" value="" placeholder="Example: Freight Value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="total_cfr_price">Total CFR Price:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="total_cfr_price" id="total_cfr_price" class="col-xs-3 form-control total_cfr_price" value="" placeholder="Example: Total CFR Price" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="hs_code">HS Code:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="hs_code" id="hs_code" class="col-xs-3 form-control hs_code" placeholder="Example: HS Code" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Shipment:</label>
                                <div class="col-sm-3">
                                    <select name="shipment" id="shipment" class="col-xs-12 col-sm-12 shipment select_search form-control">
                                        <option value="">Select Shipment</option>

                                    </select>
                                </div>
                                <label class="col-sm-3 control-label no-padding-right" for="lc_negotiation">L/C Negotiation:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="lc_negotiation" id="lc_negotiation" class="col-xs-3 lc_negotiation form-control" placeholder="Example: L/C Negotiation" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Validity of Indent:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="lc_negotiation" id="lc_negotiation" class="col-xs-3 lc_negotiation form-control" placeholder="Example: Validity of Indent" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Country of Origin:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="lc_negotiation" id="lc_negotiation" class="col-xs-3 lc_negotiation form-control" placeholder="Example: Country of Origin" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Port of Loading:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="lc_negotiation" id="lc_negotiation" class="col-xs-3 lc_negotiation form-control" placeholder="Example: Port of Loading" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment">Discharging Port:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="lc_negotiation" id="lc_negotiation" class="col-xs-3 lc_negotiation form-control" placeholder="Example: Discharging Port" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment_by">Shipment By:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="shipment_by" id="shipment_by" class="col-xs-3 shipment_by form-control" placeholder="Example: Shipment By" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipment_validity_days">Shipment Validity Days:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="shipment_validity_days" id="shipment_validity_days" class="col-xs-3 shipment_validity_days form-control" placeholder="Example: Shipment Validity Days" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="shipping_mark">Shipping Mark:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="shipping_mark" id="shipping_mark" class="col-xs-3 shipping_mark form-control" placeholder="Example: Shipping Mark" />
                                </div>
                                <label class="col-sm-3 control-label no-padding-right requiredicon" for="payment_term">Payment Term:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="payment_term" id="payment_term" class="col-xs-3 payment_term form-control" placeholder="Example: Payment Term" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="btn btn-sm btn-success" id="btnSave"><i class="fa fa-check-square-o"></i> Save</button>
                                    <button type="button" id="btnReset" class="btn btn-rounded btn-sm btn-purple"><span class="fa fa-refresh"></span> Clear</button>
                                    <button type="button" id="btnDelete" class="btn btn-rounded btn-sm btn-danger" style="display:none" onclick="removeData();"><i class="fa fa-trash"></i> Delete</button>
                                    @using (Html.BeginForm("FiberSaleReportDownload", "FiberSaleReport", FormMethod.Post, new { @style = "display:inline", target = "_blank" }))
                                    {
                                        <input type="hidden" name="comp_name" id="comp_name" class="comp_name" value="" />
                                        <input type="hidden" name="sale_number" id="sale_number" class="sale_number" value="" />
                                        <button type="submit" id="btnReport" class="btn btn-rounded btn-sm btn-primary" style="display:none" target="_blank"><i class="fa fa-file-pdf-o"></i> Report</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <h4 style="border:1px solid #ddd; padding:5px;margin-bottom:0px;background:yellowgreen" class="fiber_sale_detail">Indent Detail Entry</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="table_data" class="table table-bordered table-striped table-hover table-condensed table_data">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th><input type="checkbox" class="check_all_Table_row" value="0" /></th>
                                    <th>Item Name <span style="color:red">*</span></th>
                                    <th>Item Spec</th>
                                    <th>Measurement Unit <span style="color:red">*</span></th>
                                    <th>Packing</th>
                                    <th>Item Quantity <span style="color:red">*</span></th>
                                    <th>Unit Price</th>
                                    <th>Total Amount</th>
                                    <th class="hidden"></th>
                                </tr>
                            </thead>
                            <tbody id="table_body" class="table_body">
                                <tr class="detail_target_field">
                                    <td class="hidden"> <input type='hidden' name='order_dtl_id' id='order_dtl_id' class='form-control order_dtl_id' value='0' disabled> </td>
                                    <td><input type="checkbox" class="thisCheckTableRow this_check" name="thisCheckTableRow" onclick="checkSingleRow(1);" value="0" /></td>
                                    <td>
                                        <select name='item_name' id='item_name' class='select_search form-control item_name'>
                                            <option value=''>Select Item</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name='item_spec' id='item_spec' class='form-control item_spec' value='' /></td>
                                    <td>
                                        <select name='measurement_unit' id='measurement_unit' class='select_search form-control measurement_unit' disabled>
                                            <option value=''>Select Measurement Unit</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name='packing' id='packing' class='form-control packing' value='' /></td>
                                    <td><input type="text" name='item_quantity' id='item_quantity' class='form-control item_quantity placeholder_left input_right' onkeypress='return isNumber(event)' value='0'></td>
                                    <td><input type="text" name='unit_price' id='unit_price' class='form-control unit_price placeholder_left input_right' onkeypress='return isNumber(event)' value='0'></td>
                                    <td><input type="text" name='total_amount' id='total_amount' class='form-control total_amount placeholder_left input_right' onkeypress='return isNumber(event)' value='0'></td>
                                    <td class="hidden"><input type="hidden" name="detail_row_status" id="detail_row_status" class="form-control detail_row_status" value="1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-xs-12 col-md-3 col-md-3 col-lg-3'>
                    <button type="button" id="deleteTableRow" class="btn btn-rounded btn-sm btn-danger deleteTableRow"><i class="fa fa-minus"></i> Delete</button>
                    <button type="button" id="addTableRow" class="btn btn-rounded btn-sm btn-info addTableRow"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #table_data .select2-container {
        width: 300px !important;
    }

    #table_data input[type="text"] {
        width: 200px !important;
    }
</style>




