@using System.Data
@using System.Collections
@using Connection
@using System.Data
@using System.Collections
@using Connection
@using BanglaChemical.Models
@{
    string userId = string.Empty;
    string userCode = string.Empty;

    DataTable dtLoginData = new DataTable();
    if (Session["dtLoginData"] != null)
    {
        dtLoginData = (DataTable)Session["dtLoginData"];
    }
    if (dtLoginData.Rows.Count > 0)
    {
        ViewBag.password = Convert.ToString(dtLoginData.Rows[0]["USER_PASSWORD"]);
        ViewBag.userCode = Convert.ToString(dtLoginData.Rows[0]["USER_CODE"]);


    }
    ViewBag.Title = "Password Change";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    User
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Change Password
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <form id="login_form">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="userCode"> User:</label>
                                <div class="col-sm-5">
                                    <input type="hidden" name="default_password" id="default_password" class="form-control default_password" readonly="readonly" value="@(ViewBag.password)" />
                                    <input type="text" name="userCode" readonly id="userCode" class="col-xs-12 userCode" value="@ViewBag.userCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="old_Password">Enter Old Password </label>
                                <div class="col-sm-5">
                                    <input type="password" name="old_Password" id="old_Password" class="col-xs-12 old_Password" autocomplete="new-password" onblur="this.setAttribute('readonly', 'readonly');"
                                           onfocus="this.removeAttribute('readonly');" readonly value="" placeholder="Enter Old Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="new_password">Enter New Password </label>
                                <div class="col-sm-5">
                                    <input type="password" name="new_password" id="new_password" class="col-xs-12 new_password" value="" placeholder="Enter New password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="confirm_Password">Confirm New Password </label>
                                <div class="col-sm-5">
                                    <input type="password" name="confirm_Password" id="confirm_Password" class="col-xs-12 confirm_Password" value="" placeholder="Example:Confirm New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="submit" class="btn btn-sm btn-success" id="btnPasswordChange"><i class="fa fa-check-square-o"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
</div>

@*jQuery Validation*@
<script>
    $(function() {
        $("#login_form").validate({
            rules: {
                old_Password: {
                    required: true,
                    equalTo: "#default_password"
                },
                new_password: {
                    required: true,
                    pwcheck: true,
                },

                confirm_Password: {
                    required: true,
                    equalTo: "#new_password"
                },
            },

            messages: {
                old_Password: {
                    required: "Please enter old password !!",
                    equalTo: "Old password does not match !!",
                },
                new_password: {
                    required: "Please enter new password !!",
                    pwcheck: "Passwords must have at least 6 characters and must contain uppercase letter, lowercase letter, number, and special character !!",
                },
                confirm_Password: {
                    required: "Please enter confirm new password !!",
                    equalTo: "Please enter the same value again !!",
                },
            }
        });

        $.validator.addMethod("pwcheck",
                function (value, element) {
                    return /[!@@#$%^&*()_=\[\]{};':"\\|,.<>\/?+-]/.test(value)  // has a special character letter
                    && /[a-z]/.test(value) // has a lowercase letter
                    && /[A-Z]/.test(value) // has a upper letter
                    && /\d/.test(value) // has a digit
                    && /[a-zA-Z0-9-!@@#$%^&*()_=\[\]{};':"\\|,.<>\/?+-]{6,}/.test(value) // at least 6 characters
                });
    });
</script>

@*save user data function*@
<script>
    // Change password Data
    $("#btnPasswordChange").click(function () {
        if ($("#login_form").valid()) {
            var userId = $("#userCode").val();
            var oldPassword = $("#old_Password").val();
            var newPassword = $("#confirm_Password").val();
            var user = $("#userCode").val();

            $.ajax({
                url: '/Home/ChangePasswordSave',
                type: 'POST',
                dataType: "json",
                traditional: true,
                data: {
                    'userId': userId,
                    'oldPassword': oldPassword,
                    'newPassword': newPassword,
                    'user': user
                },
                beforeSend: function () {
                    $("#loader").modal("show");
                },
                success: function (result) {
                    swal({
                        title: result[0],
                        type: "success",
                        icon: "success",
                        showLoaderOnConfirm: true
                    },
                    function () {
                        window.location.href = '@Url.Action("Index", "Home")';
                    });

                    $("h2").css({ color: result[1] });
                },
                error: function () {
                    swal("error");
                }
            });
        }
        return false;

    });


</script>

@*jQuery Validation*@

<style>
    input[type=password] {
        background: #fff !important;
    }
</style>
